@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 20% 99%;
    --foreground: 153 21% 7%;
    --card: 60 10% 97%;
    --card-foreground: 153 21% 7%;
    --primary: 157 84% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 10% 92%;
    --secondary-foreground: 153 21% 15%;
    --muted: 150 10% 95%;
    --muted-foreground: 153 10% 40%;
    --accent: 157 84% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 153 10% 88%;
    --input: 153 10% 88%;
    --ring: 157 84% 40%;
    --radius: 0.75rem;
  }

  .dark:root {
    --background: 60 20% 99%;
    --foreground: 153 21% 7%;
    --card: 60 10% 97%;
    --card-foreground: 153 21% 7%;
    --primary: 157 84% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 10% 92%;
    --secondary-foreground: 153 21% 15%;
    --muted: 150 10% 95%;
    --muted-foreground: 153 10% 40%;
    --accent: 157 84% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 153 10% 88%;
    --input: 153 10% 88%;
    --ring: 157 84% 40%;
  }
}
